body {
	font-family: Helvetica, 
	background-color:#DB9891;
	color:#000000;
	}
	
h1 {
	font-size:25px;
	color:#000000;
	background-color:#DB9891;
	text-align: center;
	}
	
h2 {
	font-size:28px;
	color:#000000;
	background-color:#DB9891;
	}
h3 {
	font-size:24px;
	color:#000000;
	background-color:#DB9891;
	}
h4, h5, h6 {
	font-size:18px;
	color:#000000;
	background-color:#DB9891;
	}

a {
	text-decoration:none;
	color:#000000;
	}
	
a:hover {
	color:#DB9891;
	}
