
 body p {
	font-family: Helvetica;  
	color:#8B9C60;
   text-align: center;
   background-color:#CCCCCC;
	}
 header a {
	font-family: Helvetica;  
	color: #284C70;
   background-color:#CCCCCC;
	}
body {
	font-family: Helvetica;  
	background-color:#CCCCCC;
	color:#000000;
	}
	
h1 {

	font-size:25px;
	color:#284C70;
	
	text-align: center;
	
	}
	
h2 {
	font-size:28px;
	color:#000000;

	}
h3 {
	font-size:24px;
	color:#000000;

	}
h4, h5, h6 {
	font-size:18px;
	color:#000000;
	
	}

a {
	text-decoration:none;
	color:#000000;
	}
	
a:hover {
	color:#284C70;
	}
